<template>
  <div class="container">
      <header>
          <span>Переработанный мусор в Липецкой области</span>
          <router-link to="/"><div><img src="@/assets/img/exit.png" alt="exit"></div></router-link>
        </header>
        <categories></categories> 
  </div>
</template>
  
<script>
import categories from '@/components/Categories.vue'

export default {
  name: 'AdminPanel',
  components: {
      categories,
  }
}
</script>

<style scoped lang="scss"> 

header{
    display: flex;
    align-items: center;
    padding: 1.6rem;
    margin-bottom:5.6rem;
    justify-content: space-between;

    span{
        font-size: 2rem;
        text-transform: uppercase;
    }
    div{
        img{
            width: 3rem;
        }
    }
}
</style>