<template>
<div>
    <headerMain></headerMain>
    <section class="information">
      <h2>О компании</h2>
      <p>АО «Ecocity» с 2004 года успешно решает санитарные и экологические проблемы города, связанные с 
        обращением ТКО. Компания организует комплексный процесс сбора, транспортирования, обработки (сортировки) и захоронения отходов.
        <br> «Ecocity» работает 365 дней в году для благоустройства Липецка и сохранения благоприятной окружающей среды для будущих поколений.</p>
    </section>
    <section class="purposes">
      <h2>Наши цели</h2>
      <div>
        <info-card v-for="(item, i) in cardsContent" :key="i" :content="item"/>
      </div>
    </section>
    <section>
      <h2>Статистика по переработке отходов за 2022 год</h2>
      <div class="statistics">
        <div class="statistics_content">
          <statistics-data v-for="(item, i) in statisticsContent" :key="i" :content="item"/>
        </div>
        <div class="ideogram">
          <Pie :chart-data="chartData" />
        </div>
      </div>
    </section>
    <footerPart></footerPart>
</div>
</template>
  
<script>
import headerMain from '@/components/Header.vue'
import footerPart from '@/components/Footer.vue'
import InfoCard from '@/components/mainPageElement/InfoCard'
import StatisticsData from '@/components/mainPageElement/StatisticsData'

import { Pie } from 'vue-chartjs/legacy'
import { Chart as ChartJS, Title, Tooltip, Legend, ArcElement, CategoryScale, Plugin} from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, ArcElement, CategoryScale)

export default {
  name: 'MainPage',
  components: {
      headerMain,
      footerPart,
      InfoCard,
      StatisticsData,
      Pie
  },
  data(){
    return {
      cardsContent: [
        {
          title: 'Чистота во дворах и на улицах нашего города',
          img: require('@/assets/img/card-home.svg')
        },
        {
          title: 'Привлечение внимания населения к экологическим проблемам города',
          img: require('@/assets/img/head.svg')
        },
        {
          title: 'Сохранность и защита окружающей среды',
          img: require('@/assets/img/tree.svg')
        }
      ],
      statisticsContent: [
        {
          number: 30,
          title: 'Переработано тон мусора',
          img: require('@/assets/img/garbage.svg')
        },
        {
          number: 8,
          title: 'Металл',
          img: require('@/assets/img/metal.svg')
        },
        {
          number: 6,
          title: 'Стекло',
          img: require('@/assets/img/glass.svg')
        },
        {
          number: 11,
          title: 'Пластик',
          img: require('@/assets/img/plastic.svg')
        },
        {
          number: 5,
          title: 'Бумага',
          img: require('@/assets/img/paper.svg')
        },
      ],
      chartData: {
        labels: [ 'Металл', 'Стекло', 'Пластик', 'Бумага'],
        datasets: [
          {
            label: 'Data One',
            backgroundColor: ['#DAECE1', '#AED9B7','#A1D4B6','#709277'],
            data: [8, 6, 11, 5]
          }
        ]
      }
    }
  }
}
</script>

<style scoped lang="scss"> 
@import "@/assets/styles/main"; 
.information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
};

h2{
  font-weight: 500;
  font-size: vw(60);
  line-height: vw(82);
  margin: vw(73);
  text-align: center;
  color: #474444;
}
.information p{
  width: 80%;
  color: #474444;
  font-weight: 500;
  font-size: vw(33);
  line-height: vw(35);
  text-align: justify;
}
.purposes div{
  display: flex;
  justify-content: space-between;
  padding: 0 vw(105);
}
.ideogram{
  height: vw(811);
  width: vw(795);
}
.statistics{
  margin: 0 vw(125);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px){
  .purposes div{ 
    display: flex;
    flex-direction: column;
  }
  .statistics{
        display: flex; 
        flex-direction: column;
    }
}
</style>