<template>
<div>
    <headerLogin></headerLogin>
    <footerPart></footerPart>
</div>
</template>
  
<script>
import headerLogin from '@/components/Registration.vue'
import footerPart from '@/components/Footer.vue'

export default {
  name: 'LoginPage',
  components: {
      headerLogin,
      footerPart,
  }
}
</script>

<style scoped lang="scss"> 
</style>