<template>
        <div class="flex categories">
            <form autocomplete="off" @submit="editCategory" method="post" class="edit-box flex edit-box-hidden">
              <input type="text" name="name" required v-model="editingCategory.name">
              <input type="number" name="value" required min="0" step="0.01" v-model="editingCategory.value">
              <button type="submit">Сохранить</button>
              <a @click="closeEditForm" aria-label="Close">&#10006;</a>
            </form>
          <div class="category-item" v-for="(category, id) in categories" :key="id">
            <div class="flex">
              <span class="category-item-name_capsule flex category-item-drift">{{category.name}}</span>
              <span class="category-item-value_capsule flex category-item-drift">{{category.value}}</span>
              <button @click="showEdit($event, category.id, category.name, category.value)" class="flex clickable edit category-item-drift">
                Изменить
              </button>
              <button @click="deleteCategory(category.id)" class="clickable delete">Удалить</button>
            </div>
          </div>      
            <form class="addNewCategory" autocomplete="off" @submit="addCategory" method="post">
              <input type="text" name="name" placeholder="Название категории" required v-model="newCategory.name">
              <input type="number" name="value" placeholder="Значение" required min="0" value="0" step="0.01" v-model="newCategory.value">
              <button type="submit">Добавить</button>
          </form>
        </div>
</template>

<script>
const axios = require('axios').default;
const config = require('../config') 

export default {
  name: 'Categories',
  data(){
    return {
      newCategory:{
        name:null,
        value:null
      },
      editingCategory:{
        id:null,
        name:null,
        value:null
      },
    }
  },
  computed:{
      categories(){
          return this.$store.getters.getCategories
      }
  },
  methods:{
    async addCategory(e){
      e.preventDefault();
      const res = await axios.post(`${config.default.baseURL}/cat`, this.newCategory)
      this.$store.commit("addCategory", res.data)
      this.newCategory.name = null;
      this.newCategory.value = null;
    },
    async editCategory(e){
      e.preventDefault();
      const res = await axios.put(`${config.default.baseURL}/cat`, this.editingCategory)
      await this.$store.commit("editCategory", res.data)
    },
     showEdit(event, id, name, value){
      const categoryNode = event.currentTarget.parentElement;
      const editForm = document.querySelector(".edit-box");
      if(editForm.classList.contains("edit-box-hidden")){
        editForm.classList.remove("edit-box-hidden")
      }
      categoryNode.parentElement.insertBefore(editForm, categoryNode.nextSibling);
      this.editingCategory.id=id;
      this.editingCategory.name=name;
      this.editingCategory.value=value;
    },
    closeEditForm(){
      const editForm = document.querySelector(".edit-box");
      editForm.classList.add("edit-box-hidden");
    },
    async deleteCategory(id){
      const res = await axios.delete(`${config.default.baseURL}/cat/${id}`)
      this.$store.commit("removeCategory", id)
    },
    logout(e){
      e.preventDefault()
      localStorage.removeItem("user")
      localStorage.removeItem("jwt")
      this.$router.push('/login');
    },
  },
  created(){
    this.$store.dispatch('getAllCategories')
  }
}
</script>

<style scoped lang="scss">
button{
  appearance: none;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
}
  button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}
.edit-box{
  justify-content: space-between;
  margin: 1rem 0 1rem;
      input {
      font-size: 1rem;
      padding: 0.7rem;
      border-radius:10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border:0;
      box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    }
    button{
      font-size:1rem;
      margin-right: 9.6rem;
      padding: 0.21rem;
      background: #4676D7;
      color: #fff;
      &:hover {
        background: #1d49aa;
      }
    }
    a{ cursor: pointer; }
}
.edit-box-hidden{
    display: none;
}
.addNewCategory{
  margin-top: 1.4rem;
      input {
      padding: 0.7rem;
      border-radius:10px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-right:4rem;
      border:0;
      box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    }
    button{
      width: 7rem;
      height: 2.3rem;
      font-size:1rem;
      padding: 0.42rem 0.83rem;
      background: #4676D7;
      color: #fff;
      &:hover {
        background: #1d49aa;
      }
    }
}
.edit{
  font-size:1rem;
  background: #FFC000;
  color: black;
  padding: 0.21rem;
    &:hover {
      background: #FF7F00;
    }
}
.delete{
  font-size:1rem;
  background: #fa3e3e;
  color: #fff;
  padding: 0.21rem;
    &:hover {
      background: #ff0000;
    }
}
.categories{
    margin-bottom: 1.6rem;
    flex-direction: column;
    justify-content: start;

    span{
        font-size: 2rem;
    }
    .clickable{
      text-decoration: none;
    }
    .category-item{

      .category-item-drift{
        margin-right: 15rem;
      }
      .category-item-name_capsule{
        width: 11rem;
      }
      .category-item-value_capsule{
        width: 4rem;
      }
        span{
          display: block;
        }
      }
    }
</style>
