<template>
<div class="flex authPage container">
  <div class="authPage-slogan">
    <h1>Сохраним планету вместе</h1>
    <div>«Сокращай, используй вновь, перерабатывай» – хорошее правило для каждого человека.</div>
  </div>
  <div class="flex authPage-loginForm">
    <div class="flex authPage-loginForm-svg">
      <svg width="54" height="79" viewBox="0 0 54 79" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.36719 76.223V68.0712C2.36719 63.7473 4.08487 59.6004 7.14237 56.5429C10.1999 53.4854 14.3467 51.7677 18.6707 51.7677H34.9741C39.2981 51.7677 43.4449 53.4854 46.5024 56.5429C49.5599 59.6004 51.2776 63.7473 51.2776 68.0712V76.223M43.1259 19.1608C43.1259 28.1649 35.8266 35.4643 26.8224 35.4643C17.8182 35.4643 10.5189 28.1649 10.5189 19.1608C10.5189 10.1566 17.8182 2.8573 26.8224 2.8573C35.8266 2.8573 43.1259 10.1566 43.1259 19.1608Z" stroke="#777777" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <h2>Авторизация</h2>
    <form class="flex">
      <input id="email" type="email" placeholder="e-mail" v-model="email" required autofocus />
      <input id="password" type="password" placeholder="Пароль" v-model="password" required />
      <div class="flex">
        <button type="submit" @click="handleSubmit">Войти</button>
        <router-link :to="{path:'/reg'}">Регистрация</router-link>
      </div>
    </form>
  </div>
</div>
</template>

<script>
const config = require('../config') 
export default {
  data () {
    return {
      email : "",
      password : ""
    }
  },
  methods: {
    handleSubmit(e) {
      e.preventDefault()
      if (this.password.length > 0) {
        this.$http.post(`${config.default.baseURL}/login`, {
          email: this.email,
          pass: this.password
        })
        .then(response => {
              let is_admin = response.data.user.rows[0].role
              localStorage.setItem('user',JSON.stringify(response.data.user))
              localStorage.setItem('jwt',response.data.token)

              if (localStorage.getItem('jwt') != null) {
                this.$emit('loggedIn')
                if (this.$route.params.nextUrl != null) {
                  this.$router.push(this.$route.params.nextUrl)
                }
                else {
                  if (is_admin === 1) {
                    this.$router.push('Admin')
                  }
                  else {
                    this.$router.push('/')
                  }
                }
              }
            })
            .catch(function (error) {
              console.error(error.response);
            });
      }
    }
  },
}
</script>

<style scoped lang="scss">
@import "@/assets/styles/main";
*:focus {
    outline: none;
}
.authPage{
  justify-content: space-between;
}

.authPage-slogan{
}
.authPage-loginForm{
  flex-direction: column;
  justify-content: center;  
  background: rgba(255, 255, 255, 0.5);
  margin:vw(73) 0 vw(73) 0;
  .authPage-loginForm-svg{
    width: vw(200);
    height: vw(200);
    margin-top:vw(22);
    border-radius: 100px;

    justify-content: center;  

    background: #EAEAEA;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    svg{
      width: vw(105);
      height: vw(80);
    }
  }
  h2{
      margin-top:vw(16);
      margin-bottom:vw(26);
      font-weight: 500;
      font-size: vw(40);
      line-height: vw(54);
    }
  form{
    margin:0 vw(162) 0 vw(162);
    flex-direction: column;
    input{
      width: vw(362);
      background: rgba(255, 255, 255, 0.35);
      border-radius: 13px;
      box-sizing: border-box;
      border:none;
      padding: vw(18) 0 vw(18) vw(24);
    }
    input::placeholder{
      font-weight: 500;
      font-size: vw(20);
      line-height: vw(23);
      color: #474444;

    }
    input:nth-child(2){
      margin-top:vw(14);
    }
    div{
      width: vw(362);
      margin-top:vw(34);
      margin-bottom:vw(28);
      justify-content: space-between;

      button{
        width: vw(168);
        height: vw(52);

        border: none;
        background: #AEC5B8;
        box-sizing: border-box;
        border-radius: 13px;

        font-weight: 500;
        font-size: vw(20);
        line-height: 23px;

        color: #FFFFFF;
      }
      a{
        font-weight: 500;
        font-size: vw(20);
        line-height: vw(23);
      }
    }
  }
}
</style>