<template>
  <div class="hello">
    <h1>Вошёл пользователь</h1>
    <h2>{{msg}}</h2>
    <button @click="logout">ВЫЙТИ</button>
    <button @click="otladka">ОТЛАДИТЬ</button>
  </div>
</template>

<script>
const config = require('../config') 
export default {
  data () {
    return {
      msg: 'Авторизованный пользователь'
    }
  },
  methods:{
    logout(e){
      e.preventDefault()
      localStorage.removeItem("user")
      localStorage.removeItem("jwt")
      this.$router.push('/login');
    },
    otladka(){
        let user = JSON.parse(localStorage.getItem('user'))
        console.log(user.rows[0].role, config.default.baseURL)
    }
  }
}
</script>

<style scoped>
.hello{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top:13rem;
}
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>