<template>
    <article>
        <img :src="content.img" alt="">
        <p>{{content.title}}</p>
    </article>
</template>
<script>
export default {
    name: 'InfoCard',
    props: ['content']
}
</script>
<style lang="scss" scoped>
@import "@/assets/styles/main";
article{
    box-sizing: border-box;
    background-color: #F3F1F1;
    height: vw(687);
    width: vw(550);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: vw(45) vw(27);
}
article p{
    font-weight: 500;
    font-size: vw(35);
    line-height: vw(48);
    text-align: center;
    margin-bottom: vw(15);

color: #474444;
}
img{
    height: vw(400);
    width: vw(400);    
}
@media (max-width: 768px){
    article{
        margin-bottom: vw(70);
    }
}
</style>