<template>
    <article>
        <img :src="content.img" alt="">
        <div>
            <p class="number">{{content.number}}</p>
            <p class="title">{{content.title}}</p>
        </div>
    </article>
</template>
<script>
export default {
    name: 'StatisticsData',
    props: ['content']
}
</script>
<style lang="scss" scoped>
@import "@/assets/styles/main";

.number{
    font-weight: 500;
    font-size: vw(60);
    line-height: vw(82);
    color: #474444;
}
.title{
    font-weight: 500;
    font-size: vw(35);
    line-height: vw(48);
    color: #565B57;
}
article{
    display: flex;
    align-items: center;
    margin-bottom: vw(29);
}
img{
    margin-right: vw(36);
}
</style>